

@media (min-width:1120px){
   
    .header-left a {
        width: 100%;
       
        font-size: 30px;
        margin-left: auto;
        padding: 0 20px;
        box-sizing: border-box;
    }
        
}

@media (min-width:772px){
   
    span.iconcd {
        position: absolute;
        right: 38px;
        top: 20px;
        font-size: 30px;
        color: #fff;
        
    }
    .header-right ul li a {
        display: inline-block;
        color: #fff;
        padding: 3px 10px;
        font-size: 14px;
       
    }
     
}